@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Happy Chats!</h1>
            <p class="lead">This is an AI based chatting app made with Dotnet and OpenAI</p>
            <hr class="my-4">
            <p>Feel free to explore and learn</p>
            @* <a class="btn btn-dark btn-lg" href="#teamSection" role="button">Meet Our Team</a> *@
        </div>

        <!-- Team Members Section -->
        <section id="teamSection" class="mt-5">
            <h2>Our Team</h2>

            <div class="row">
                <div class="col-md-4 m-3 p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pahul Sidhu</h5>
                            <p class="card-text">A01310077</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-3 p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">German Randhawa</h5>
                            <p class="card-text">A01312851</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-3 p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Arshnoor</h5>
                            <p class="card-text">A01310020</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 m-3 p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Jashanjot Singh</h5>
                            <p class="card-text">A01275230</p>
                        </div>
                    </div>
                </div>
                
             </div>
        </section> 
    </div>
